
project_id       = "{{ bootstrap_gcp_project_id }}"
region           = "{{ bootstrap_gcp_region }}"
zone             = "{{ bootstrap_gcp_zone }}"
gke_cluster_name = "{{ bootstrap_gke_cluster_name }}"
num_nodes        = {{ bootstrap_gke_num_nodes }}
machine_type     = "{{ bootstrap_gcp_machine_type }}"
disk_size        = {{ bootstrap_gcp_disk_size }}
network_name     = "{{ bootstrap_gcp_network_name }}"
ip_address_name  = "{{ bootstrap_gcp_load_balancer_ip_address_name }}"
ssl_cert_name    = "ninjawombat-ssl-cert"
ssl_cert_crt     = "certs/self-signed.crt"
ssl_cert_key     = "certs/self-signed.key"

# Change to true to enable HTTPS and HTTP redirect for the load balancer
https            = {{ bootstrap_https | tojson }}
load_balancer    = {{ bootstrap_load_balancer | tojson}}

secrets_map = [
    {
      name               = "demo-password-1"
      autogenerate       = true
      chars_count        = 24
      use_special_charts = false
    }
  ]
